
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{

    background-color: #4a1f6f;
   color: white;
 padding: 15px;
 position: fixed;
 width: 100%;
 top: 0;
 z-index: 1000;
 text-align: center;
}

.banner{

    background-color: #23102f;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}


body{

    background-color:#363636 ;
    font-family: Arial, sans-serif;

}

table{

    color: rgb(230, 230, 240);
    border-color: rgb(230, 230, 240);
}

fieldset{

    color: rgb(230, 230, 240);
    border-color: rgb(230, 230, 240);
     margin: 5px;
    padding: 5px;
}

h1{

    color: rgb(230, 230, 240);
     text-align: center;
    
}

h2, h3, p{
    color: rgb(230, 230, 240);
     margin: 5px;
    padding: 5px;
}

ul, figcaption{
    color:  rgb(2, 2, 3);
     margin: 5px;
    padding: 5px;
}

a{
    color: #e7d8ff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    text-decoration: underline;
   
}

article{

     margin: 5px;
    padding: 5px;

}

iframe{

     margin: 5px;
    padding: 5px;

}

/* Produtos lado a lado (inline-block) */
.product-card {
    display: inline-block;
    width: 45%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    vertical-align: top;
}

/* Hover nos produtos */
.product-card:hover {
    transform: scale(1.02);
    border-color: #1e90ff;
}

/* Rodapé */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}